.page {
  display: grid;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--color);
}
@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
  }
}
@media (min-width: 769px) {
  .page {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
  }
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .auth > div {
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1080px) {
  .auth > div {
    width: 80%;
  }
}
@media (min-width: 1081px) {
  .auth > div {
    width: 70%;
  }
}
.auth > div > header {
  color: var(--color);
  font-size: 2rem;
  padding: 4px;
}
@media (max-width: 768px) {
  .auth > div > header {
    font-size: 1.3rem;
  }
}
@media (min-width: 769px) and (max-width: 1080px) {
  .auth > div > header {
    font-size: 1.6rem;
  }
}
@media (min-width: 1081px) {
  .auth > div > header {
    font-size: 2rem;
  }
}
.signinLink {
  padding: 1rem;
  text-align: right;
}
.signinLink a {
  text-decoration: none;
  color: var(--color);
  font-weight: bold;
}
.signinLink a:hover {
  text-decoration: underline;
}
.error {
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
  padding: 0.5rem;
}
.success {
  background-color: rgba(173, 255, 47, 0.4);
  color: greenyellow;
  padding: 0.5rem;
}
