.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.recommendation {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 0.5rem;
  color: var(--color);
  width: 100%;
}
.recommendation > header {
  padding: 0.5rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
.recommendation > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.dropdown {
  position: relative;
  background-color: #fff;
  width: 100%;
}
.result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 0.5rem;
  color: var(--color);
  background-color: var(--background-color);
}
