.page {
  position: fixed;
  top: 0;
  display: grid;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  color: var(--color);
  background-color: var(--background-color);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
  }
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
  }
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    @media (max-width: 768px) {
      width: 90%;
    }
    @media (min-width: 769px) and (max-width: 1080px) {
      width: 80%;
    }
    @media (min-width: 1081px) {
      width: 70%;
      max-width: 450px;
    }
    > header {
      color: var(--color);
      font-size: 2rem;
      padding: 4px;
      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
      @media (min-width: 769px) and (max-width: 1080px) {
        font-size: 1.6rem;
      }
      @media (min-width: 1081px) {
        font-size: 2rem;
      }
    }
  }
}
.login {
  padding: 1rem;
  text-align: right;
  a {
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
.error {
  background-color: fade(red, 40%);
  color: red;
  padding: 0.5rem;
}

.success {
  display: flex;
  flex-direction: row;
  align-items: center;
  > div:first-child {
    background-color: fade(greenyellow, 40%);
    color: greenyellow;
    padding: 0.5rem;
  }
  > a {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
