.card {
  display: grid;
  grid-template-areas: 'avatar user button';
  grid-template-columns: 65px 1fr auto;
  grid-template-rows: auto;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.avatar {
  grid-area: avatar;
  height: 65px;
  width: auto;
  padding: 2px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.user {
  grid-area: user;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  color: var(--color);
  padding: 4px;
  a {
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }
  .name {
    font-weight: 700;
  }
  .username {
    a {
      color: #595959;
    }
  }
}

.button {
  grid-area: button;
  height: fit-content;
  width: 100%;
}
