.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.textarea textarea {
  width: 100%;
  min-height: fit-content;
  color: var(--text-color);
  background-color: transparent;
  resize: none;
  font-size: 1.2rem;
  border: none;
  overflow: auto;
  outline: none;
}
.textarea textarea::-webkit-scrollbar {
  display: none;
}
