.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.textarea textarea {
  width: 100%;
  height: auto;
  min-height: 4rem;
  color: var(--color);
  background-color: transparent;
  resize: none;
  overflow: auto;
  font-size: 1rem;
  border: none;
  outline: none;
}
