.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo a {
  text-decoration: none;
  z-index: 1;
}
.logo a > header {
  --fontSize: 5rem;
  color: var(--color);
  font-family: 'Roboto mono', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo a > header {
    font-size: var(--fontSize);
  }
  .logo a > header:first-letter {
    font-size: calc(var(--fontSize) * 2);
    text-transform: uppercase;
  }
}
@media (min-width: 769px) and (max-width: 1080px) {
  .logo a > header {
    font-size: calc(var(--fontSize) * 1.2);
  }
  .logo a > header:first-letter {
    font-size: calc(var(--fontSize) * 2);
    text-transform: uppercase;
  }
}
@media (min-width: 1081px) {
  .logo a > header {
    font-size: calc(var(--fontSize) * 1.5);
  }
  .logo a > header:first-letter {
    font-size: calc(var(--fontSize) * 2);
    text-transform: uppercase;
  }
}
