.card {
  display: grid;
  grid-template-areas:
    'avatar header dropdown'
    'avatar status dropdown'
    'avatar footer dropdown';
  grid-template-rows: 1fr 1fr 2rem;
  width: 100%;
  height: fit-content;
  padding: 0 0.25rem;
  // border: 0 solid fade(#9e9d89, 27%);
  // border-width: 0px 0 1px 0;
  > header,
  footer {
    display: flex;
  }
  @media (max-width: 768px) {
    grid-template-columns: 65px 1fr 1.8rem;
  }
  @media (min-width: 769px) {
    grid-template-columns: 65px 1fr 1.8rem;
  }
  &:hover {
    background-color: hsla(0, 0%, 10%, 0.3);
  }
}
.card[data-card='true'] {
  @media (min-width: 769px) {
    grid-template-areas:
      'avatar header dropdown'
      'avatar status dropdown'
      'avatar commentArea dropdown'
      'avatar footer dropdown';
    height: fit-content;
    grid-template-columns: 65px 1fr 1.8rem;
    grid-template-rows: auto auto auto 2rem;
  }
  @media (max-width: 768px) {
    grid-template-areas:
      'avatar header dropdown'
      'avatar status dropdown'
      'commentArea commentArea commentArea'
      'footer footer footer';
    height: fit-content;
    grid-template-columns: 65px 1fr 1.8rem;
    grid-template-rows: auto auto auto 2rem;
  }
}
.dropdown {
  grid-area: dropdown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}

.avatar {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding: 4px;
    width: 100%;
    height: 65px;
    border-radius: 50%;
  }
  > div:first-child {
    width: 2px;
    height: 4px;
    background-color: hsl(0, 0%, 20%);
  }
  > div {
    width: 2px;
    height: 100%;
    background-color: hsl(0, 0%, 20%);
  }
}

.header {
  flex-direction: column;
  grid-area: header;
  height: fit-content;
  width: 100%;
  padding: 0.25rem;
  overflow-wrap: break-word;
  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }
  .statusInfo {
    display: grid;
    grid-template-areas: 'name username date';
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: fit-content;
    height: fit-content;
    color: var(--color);
    .name {
      grid-area: name;
      font-weight: 700;
    }
    .username {
      margin-left: 0.2rem;
      grid-area: username;
      color: #595959;
      &:hover {
        color: hsl(0, 0%, 50%);
      }
    }
    .date {
      grid-area: date;
      margin-left: 1rem;
      margin-right: auto;
      color: #595959;
    }
  }
}
.status {
  grid-area: status;
  display: flex;
  overflow-wrap: break-word;
  font-weight: 400;
  color: var(--color);
  padding: 0 0.5rem;
  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }
}
.footer {
  grid-area: footer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.25rem;
  height: auto;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    > .commentIcon {
      color: hsl(0, 0%, 60%);
      @media (min-width: 768px) {
        &:hover {
          path {
            box-shadow: 0px 0px 10px 0px hsl(240, 100%, 25%);
            color: blue;
          }
        }
      }
    }
    > .forwardsIcon {
      @media (min-width: 768px) {
        &:hover {
          path {
            box-shadow: 0px 0px 10px 0px #00ff00;
            color: #00ff00;
          }
        }
      }
    }
    > .likeIcon {
      @media (min-width: 768px) {
        &:hover {
          path {
            box-shadow: 0px 0px 10px 0px hsl(0, 100%, 10%);
            color: red;
          }
        }
      }
    }
    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px;
      cursor: pointer;
    }
    span {
      font-size: 0.8rem;
      padding: 0px 4px;
    }
  }
}
.commentArea[data-card='false'] {
  display: none;
}
.commentArea[data-card='true'] {
  grid-area: commentArea;
  display: grid;
  grid-template-areas:
    'textarea button'
    'error button';
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr auto;
  width: auto;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 30%);
  > div:first-child {
    grid-area: textarea;
  }
  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: button;
  }
  > span {
    grid-area: error;
    color: hsl(0, 100%, 50%);
    font-size: 0.8rem;
  }
}
