.card {
  display: grid;
  grid-template-areas:
    'avatar header dropdown'
    'avatar controls dropdown';

  grid-template-rows: auto 30%;
  width: 100%;
  height: fit-content;
  border: 0 solid fade(#9e9d89, 27%);
  border-width: 0px 0 1px 0;
  > header,
  footer {
    display: flex;
  }
  @media (max-width: 768px) {
    // flex-direction: column;
    // grid-template-columns: 10% 1fr 2%;
    grid-template-columns: auto 1fr auto;
  }
  @media (min-width: 769px) {
    // flex-direction: row;
    grid-template-columns: 10% 1fr 4%;
  }
}
.card[data-card='true'] {
  height: fit-content;
  grid-template-rows: auto 1fr;
}
.dropdown {
  grid-area: dropdown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}
@media (max-width: 768px) {
  .dropdown {
    display: none !important;
  }
}
.popup {
  grid-area: dropdown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}
.avatar {
  grid-area: avatar;
  height: 65px;
  width: 65px;
  padding: 5%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.header {
  flex-direction: column;
  grid-area: header;
  height: fit-content;
  width: 100%;
  padding: 0.25rem;
  overflow-wrap: break-word;
  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }
  .statusInfo {
    display: grid;
    grid-template-areas: 'name username date';
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: fit-content;
    height: fit-content;
    color: var(--color);
    .name {
      grid-area: name;
      font-weight: 700;
    }
    .username {
      margin-left: 0.2rem;
      grid-area: username;
      color: #595959;
      &:hover {
        color: hsl(0, 0%, 50%);
      }
    }
    .date {
      grid-area: date;
      margin-left: 1rem;
      margin-right: auto;
      color: #595959;
    }
  }
  .status {
    display: flex;
    overflow-wrap: break-word;
    font-weight: 400;
    color: var(--color);
    padding: 0.25rem 0;
  }
}
.footer {
  grid-area: controls;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.25rem;
  height: auto;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px;
      cursor: pointer;
    }
    > div:first-child {
      &:hover {
        path {
          box-shadow: 0px 0px 10px 0px hsl(240, 100%, 25%);
          color: blue;
        }
      }
    }
    > div:nth-child(2) {
      &:hover {
        path {
          box-shadow: 0px 0px 10px 0px #00ff00;
          color: #00ff00;
        }
      }
    }
    > div:nth-child(3) {
      &:hover {
        path {
          box-shadow: 0px 0px 10px 0px hsl(0, 100%, 10%);
          color: red;
        }
      }
    }
    span {
      color: hsl(0, 0%, 60%);
      font-size: 0.8rem;
      padding: 0px 4px;
    }
  }
}

.comment[data-card='true'] {
  display: grid;
  grid-template-areas:
    'textarea button'
    'error button';
  grid-template-columns: 1fr 20%;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  > div:first-child {
    border-bottom: 1px solid hsl(0, 0%, 30%);
    grid-area: textarea;
  }
  > div:nth-child(2) {
    display: flex;
    padding: 0.5rem;
    grid-area: button;
  }
  > span {
    grid-area: error;
    display: flex;
    color: red;
    padding: 8px;
  }
}
.comment[data-card='false'] {
  display: none;
}
