.card {
  display: grid;
  grid-template-areas: 'avatar header dropdown' 'avatar status dropdown' 'avatar footer dropdown';
  grid-template-rows: 1fr 1fr 2rem;
  width: 100%;
  height: fit-content;
  padding: 0 0.25rem;
}
.card > header,
.card footer {
  display: flex;
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: 65px 1fr 1.8rem;
  }
}
@media (min-width: 769px) {
  .card {
    grid-template-columns: 65px 1fr 1.8rem;
  }
}
.card:hover {
  background-color: hsla(0, 0%, 10%, 0.3);
}
@media (min-width: 769px) {
  .card[data-card='true'] {
    grid-template-areas: 'avatar header dropdown' 'avatar status dropdown' 'avatar commentArea dropdown' 'avatar footer dropdown';
    height: fit-content;
    grid-template-columns: 65px 1fr 1.8rem;
    grid-template-rows: auto auto auto 2rem;
  }
}
@media (max-width: 768px) {
  .card[data-card='true'] {
    grid-template-areas: 'avatar header dropdown' 'avatar status dropdown' 'commentArea commentArea commentArea' 'footer footer footer';
    height: fit-content;
    grid-template-columns: 65px 1fr 1.8rem;
    grid-template-rows: auto auto auto 2rem;
  }
}
.dropdown {
  grid-area: dropdown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.dropdown:hover {
  background-color: var(--hover-color);
}
.dropdown svg {
  color: hsl(0, 0%, 30%);
}
.avatar {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar img {
  padding: 4px;
  width: 100%;
  height: 65px;
  border-radius: 50%;
}
.avatar > div:first-child {
  width: 2px;
  height: 4px;
  background-color: hsl(0, 0%, 20%);
}
.avatar > div {
  width: 2px;
  height: 100%;
  background-color: hsl(0, 0%, 20%);
}
.header {
  flex-direction: column;
  grid-area: header;
  height: fit-content;
  width: 100%;
  padding: 0.25rem;
  overflow-wrap: break-word;
}
.header a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color);
  cursor: pointer;
}
.header .statusInfo {
  display: grid;
  grid-template-areas: 'name username date';
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  width: fit-content;
  height: fit-content;
  color: var(--color);
}
.header .statusInfo .name {
  grid-area: name;
  font-weight: 700;
}
.header .statusInfo .username {
  margin-left: 0.2rem;
  grid-area: username;
  color: #595959;
}
.header .statusInfo .username:hover {
  color: hsl(0, 0%, 50%);
}
.header .statusInfo .date {
  grid-area: date;
  margin-left: 1rem;
  margin-right: auto;
  color: #595959;
}
.status {
  grid-area: status;
  display: flex;
  overflow-wrap: break-word;
  font-weight: 400;
  color: var(--color);
  padding: 0 0.5rem;
}
.status a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color);
  cursor: pointer;
}
.footer {
  grid-area: footer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.25rem;
  height: auto;
}
.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer > div > .commentIcon {
  color: #6e767d;
}
@media (min-width: 768px) {
  .footer > div > .commentIcon:hover path {
    box-shadow: 0px 0px 10px 0px hsl(240, 100%, 25%);
    color: blue;
  }
}
@media (min-width: 768px) {
  .footer > div > .forwardsIcon:hover path {
    box-shadow: 0px 0px 10px 0px #00ff00;
    color: #00ff00;
  }
}
@media (min-width: 768px) {
  .footer > div > .likeIcon:hover path {
    box-shadow: 0px 0px 10px 0px hsl(0, 100%, 10%);
    color: red;
  }
}
.footer > div > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  text-overflow: clip;
}
.footer > div > div > span {
  font-size: 0.8rem;
  padding: 0px 4px;
  margin: 4px 2px;
}
.commentArea[data-card='false'] {
  display: none;
}
.commentArea[data-card='true'] {
  grid-area: commentArea;
  display: grid;
  grid-template-areas: 'textarea button' 'error button';
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr auto;
  width: auto;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 30%);
}
.commentArea[data-card='true'] > div:first-child {
  grid-area: textarea;
}
.commentArea[data-card='true'] > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: button;
}
.commentArea[data-card='true'] > span {
  grid-area: error;
  color: hsl(0, 100%, 50%);
  font-size: 0.8rem;
}
