.page {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 1fr 28%;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
}
@media (max-width: 600px) {
  .page {
    grid-template-columns: 1fr;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.main > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #f1f1f1;
}
.content,
.settings,
.profile {
  width: 100%;
  border-width: 0 1px;
  border-style: solid;
  border-color: gray;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}
.images {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
}
.background {
  width: 100%;
  height: 20vh;
}
.photo {
  position: absolute;
  top: 12vh;
  left: 0.5rem;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px;
}
.info > div:first-child {
  display: flex;
  flex-direction: column;
}
.info > div:first-child > span {
  padding: 0.25rem;
}
.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 100%;
}
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.settings > header {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
}
.settings > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
}
.connect img {
  width: 100px;
  height: 100px;
}
