.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .sidebar {
    height: 8vh;
    z-index: 1;
  }
}
@media (min-width: 769px) {
  .sidebar {
    height: 100vh;
    width: 25%;
    justify-content: center;
    align-items: flex-end;
  }
}
.sidebar > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0.5rem;
}
@media (min-width: 769px) {
  .sidebar > header {
    display: none;
  }
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  font-size: 2rem;
}
.toggle path {
  color: blue;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
}
.menu .backdrop {
  display: none;
}
@media (max-width: 768px) {
  .menu .backdrop {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(241, 241, 241, 0.2);
    transition: all 0.3s ease-in-out;
  }
}
.menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--background-color);
}
@media (max-width: 768px) {
  .menu > ul {
    position: fixed;
    width: 70vw;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
  }
}
.menu > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  color: #f1f1f1;
}
.menu > ul > li > a {
  text-align: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: #f1f1f1;
}
.menu > ul > li > a:hover {
  background-color: var(--hover-color);
}
.menu > ul .user {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.menu > ul .user > span:nth-child(3) {
  color: hsl(0, 0%, 40%);
}
.menu > ul .user > div:nth-child(4) {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: bold;
}
.menu > ul .user > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
@media (min-width: 769px) {
  .menu > ul .user {
    display: none;
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='false'] {
    transform: translateX(-120%);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='true'] {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='false'] + ul {
    transform: translateX(-120%);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='true'] + ul {
    transform: translateX(0);
  }
}
.logoutButton {
  margin-top: 10rem;
  margin-bottom: 1rem;
}
