.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .sidebar {
    justify-content: flex-start;
    height: 8vh;
    width: 100%;
    z-index: 1000;
  }
}
@media (min-width: 769px) {
  .sidebar {
    height: 100vh;
    justify-content: center;
  }
}
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-width: 100vw;
  height: 8vh;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid var(--border);
}
@media (min-width: 769px) {
  .searchBar {
    display: none;
  }
}
.toggleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  aspect-ratio: 1;
  padding: 0.25rem;
  border-radius: 50%;
}
.toggleIcon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: calc(100% - 2.5rem);
  height: 8vh;
}
.search input {
  height: calc(8vh * 0.8);
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.dropdown {
  position: relative;
  width: 100%;
}
.result {
  position: absolute;
  max-height: 400px;
  height: fit-content;
  width: 100%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.5rem;
  color: var(--color);
  background-color: var(--background);
}
.result::-webkit-scrollbar {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu .backdrop {
  display: none;
}
@media (max-width: 768px) {
  .menu .backdrop {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    transition: all 0.1s ease-in-out;
  }
}
.menu > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 80%;
}
@media (max-width: 768px) {
  .menu > ul {
    position: fixed;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--background);
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 768px) {
  .menu > ul {
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
}
.menu > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.5rem;
  color: var(--text-color);
}
.menu > ul > li > a {
  text-align: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: var(--text-color);
}
.menu > ul > li > a:hover {
  background-color: var(--hover-color);
}
.menu > ul > li:nth-child(6) {
  padding: 1rem;
  width: 70%;
}
.menu > ul > li:nth-child(7) {
  height: 20%;
  width: 70%;
  padding: 1rem;
}
.menu > ul .user {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.menu > ul .user > span:nth-child(3) {
  color: hsl(0, 0%, 40%);
}
.menu > ul .user > div:nth-child(4) {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: bold;
}
.menu > ul .user > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
@media (min-width: 769px) {
  .menu > ul .user {
    display: none;
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='false'] {
    transform: translateX(-120%);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='true'] {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='false'] + ul {
    transform: translateX(-120%);
  }
}
@media (max-width: 768px) {
  .backdrop[data-toggle='true'] + ul {
    transform: translateX(0);
  }
}
