.footer {
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
@media (min-width: 769px) {
  .footer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
