.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 100vh;
    width: 100%;
    max-width: 1366px;
    margin-right: calc((100vw - 1366px) / 2);
    margin-left: auto;
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  border: 0 solid #454545;
  border-width: 0px 1px 0px 1px;
  > header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color);
    width: 100%;
    min-height: 3rem;
    background-color: var(--background-color);
    border: 0px solid hsl(0, 0%, 30%);
    border-width: 0 0 3px 0;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--dark-white);
}
