.page {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--background-color);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: auto;
    max-width: 1366px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 768px) {
    width: 100vw;
  }
  @media (min-width: 769px) {
    border: 0 solid #454545;
    border-width: 0px 1px 0px 1px;
  }
}
.main nav {
  width: 100%;
  margin-top: 0.25rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
      a {
        padding: 8px;
        text-align: center;
        height: 100%;
        width: 100%;
        color: var(--color);
        text-decoration: none;
        &:hover {
          color: var(--primary-color);
          background-color: var(--hover-color);
          color: hsl(240, 100%, 60%);
        }
      }
    }
  }
}
