.page {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--background-color);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: auto;
    max-width: 1300px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 768px) {
    width: 100vw;
  }
  @media (min-width: 769px) {
    border: 0 solid #454545;
    border-width: 0px 1px 0px 1px;
  }
}
