.page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--background-color);
}
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }
}
@media (min-width: 769px) {
  .page {
    flex-direction: row;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .main {
    width: 100vw;
  }
}
@media (min-width: 769px) {
  .main {
    border: 0 solid #454545;
    border-width: 0px 1px 0px 1px;
    width: 80%;
    max-width: 681px;
  }
}
