* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--background-color);
}

:root {
  --background-color: hsl(0, 0%, 9%);
  --backdrop-color: hsla(240, 100%, 60%, 0.1);
  --color: hsl(0, 0%, 90%);
  --primary-color: hsla(240, 100%, 60%, 0.9);
  --success-color: hsl(120, 100%, 40%);
  --button-hover-color: hsla(240, 100%, 60%, 1);
  --success-hover-color: hsl(120, 100%, 50%);
  --hover-color: hsl(203, 90%, 8%);
  --danger-color: hsl(0, 100%, 40%);
}
