.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
}
.follow {
  margin-left: auto;
  margin-right: 1rem;
  width: 150px;
}
.images {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
  > img:first-child {
    width: 100%;
    height: 30vh;
  }
  > img:nth-child(2) {
    position: absolute;
    bottom: -3rem;
    left: 0.5rem;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 4px solid var(--background-color);
  }
}
.bio {
  display: grid;
  grid-template-areas:
    'name name'
    'username username'
    'status status'
    'connections connections'
    'date date';
  flex-direction: column;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(1fr, 4);
  width: 100%;
  height: fit-content;
  padding-left: 0.25rem;
  margin-top: 1rem;
  color: var(--color);
  .name {
    display: flex;
    flex-direction: row;
    h3 {
      padding: 0 4px;
    }
  }
  .username {
    grid-area: username;
    display: flex;
    flex-direction: row;
    color: hsl(0, 0%, 60%);
    padding: 4px;
  }
  .status {
    grid-area: status;
    display: flex;
    flex-direction: row;
    color: #f1f1f1;
    padding: 4px;
  }
  .connections {
    grid-area: connections;
    display: flex;
    flex-direction: row;
    a {
      color: #f1f1f1;
      text-decoration: none;
      padding: 0.25rem;
      &:hover {
        color: hsl(0, 0%, 30%);
      }
    }
    span {
      font-weight: bold;
    }
  }
  .date {
    grid-area: date;
    display: flex;
    flex-direction: row;
    color: #f1f1f1;
    padding: 4px;
  }
}


