.page {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--background-color);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: auto;
    max-width: 1366px;
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color);
  @media (max-width: 768px) {
    width: 100vw;
  }
  @media (min-width: 769px) {
    border: 0 solid #454545;
    border-width: 0px 1px 0px 1px;
  }
  > header {
    z-index: 20;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-color);
    color: var(--color);
    width: 100%;
    height: 3rem;
    min-height: 50px;
    border: 0px solid hsl(0, 0%, 30%);
    border-width: 0 0 3px 0;
  }
}
.tweetBox {
  display: grid;
  grid-template-areas:
    'img textarea'
    'img button';
  grid-template-columns: 65px 1fr;
  grid-template-rows: auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 150px;
  padding: 0.25rem 0.5rem;

  border-bottom: 10px solid hsla(0, 0%, 50%, 0.5);
}
.profilePic {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  grid-area: img;
  > img {
    width: 100%;
    height: 65px;
    border-radius: 50%;
  }
}
.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0.25rem;
  > span {
    font-size: 0.8rem;
    color: red;
  }
}
.postButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0.5rem 0 0 auto;
  > div {
    width: 100px;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
}
